\:root
    --fondo0: #ffffff
    --fondo1: #ffffff
    --fondo2: red
    --fondo3: red
    --sombra1: rgba(0, 0, 0, 0.15)
    --texto1: #3A3A3A
    --texto2: #4e565b
    --borde: #e3e3e3
    --opacidad1: 1
    --opacidad2: 0.9

    // Esquema de colores de Acecha
    --colorPrincipal: rgb(233, 30, 99)
    --colorSecundario: #006CAF


    // Fuentes de Acecha
    --fuenteTitulos: "Open Sans", Roboto, sans-serif
    --fuenteTexto: Roboto, sans-serif

html
    background-color: var(--fondo1)
    color: var(--texto1)


.color-claro
    --fondo0: #ffffff
    --fondo1: #ffffff
    --sombra1: rgba(0, 0, 0, 0.15)
    --texto1: #3A3A3A
    --texto2: #4e565b
    --borde: #e3e3e3
    --opacidad1: 1
    --opacidad2: 0.9


.color-azul-oscuro
    --fondo0: #1E2235
    --fondo1: #050616
    --sombra1: rgba(0, 0, 0, 0.12)
    --texto1: #e8e8e1
    --texto2: #BFC1B6
    --borde: #454545
    --opacidad1: 0.8
    --opacidad2: 0.9


.color-negro
    --fondo0: #070707
    --fondo1: black
    --sombra1: rgba(0, 0, 0, 0.12)
    --texto1: #e8e8e1
    --texto2: #BFC1B6
    --borde: #454545
    --opacidad1: 0.8
    --opacidad2: 0.9


.color-oscuro
    --fondo0: #1F1F1F
    --fondo1: #161616
    --sombra1: rgba(0, 0, 0, 0.12)
    --texto1: #e8e8e1
    --texto2: #BFC1B6
    --borde: #454545
    --opacidad1: 0.8
    --opacidad2: 0.9


.color-gris
    --fondo0: #292F38
    --fondo1: #222730
    --sombra1: rgba(0, 0, 0, 0.12)
    --texto1: #e8e8e1
    --texto2: #BFC1B6
    --borde: #454545
    --opacidad1: 0.8
    --opacidad2: 0.9


.color-dracula-at-night
    --fondo0: #243341
    --fondo1: #0E1419
    --sombra1: rgba(0, 0, 0, 0.12)
    --texto1: #e8e8e1
    --texto2: #BFC1B6
    --borde: #454545
    --opacidad1: 0.8
    --opacidad2: 0.9