*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    font:
        size: large
        family: Roboto, sans-serif
    background-color: var(--fondo1)
    &:root
        --spacing-presentation: 2rem
        --spacing-big: 2rem
        --spacing-section: 1.5rem
        --spacing-section-header: 1rem
        --spacing-section-content: 1rem
        --spacing-full-page: 1.5rem
        --margin-section-header: 1.5rem
        --gutter: 2rem
        --grid-gap: 1rem
        --wrap: 1170px
        --first-color: #E91E63
        --second-color: #6e25b2
        --second-color-alt: #230051
        --green-color: #01bc59
        --red-color: #FF003F
        --red-color-alt: #c91a46
        --blue-color: #006CAF
        --yellow-color: #F0AD4E
        --lightblue-color: #6EC1E4
        --gray-color: #999999
        --gray-color-alt: #7A7A7A
        --gray-light-color: #DADADA
        --dark-color: #4e565b
        --dark-color-alt: #3a3a3a
        --black-color: #0C0C0C
        --white-color: #FFFFFF
        --semi-white-color: #efefef
        --info-color: #5cbce0
        --fb-color: #3B5998
        --tw-color: #55ACEE
        --yt-color: #BB0000
        --wsp-color: #0DC143
        --dc-color: #0005AD


        // --fondo0: black
        // --fondo1: #0a0909
        // --fondo2: #040303
        // --fondo3: #0f0d0d
        // // rgba(0, 0, 0, 0.12) //
        --sombra1: rgba(0, 0, 0, 0.12)
        // // #3A3A3A //
        // --texto1: #e8e8e1
        // // #4e565b //
        // --texto2: #BFC1B6
        // 1
        //--opacidad1: 0.6
        // 0.7
        // --opacidad2: 0.9

        // Textos en pantallas pequeñas
        --tamano-titulos-grande: 36px
        --tamano-titulos: 24px
        --tamano-textos: 12px

.contenedor
    width: 90%
    max-width: 1170px
    margin: 0 auto

@media only screen and (min-width: 1400px)
    .contenedor
        max-width: 1400px

//    ::-webkit-scrollbar
        width: 5px

    ::-webkit-scrollbar-thumb
        border-radius: 5px 0 0 5px
        background: #fe0f49

    ::-webkit-scrollbar-thumb:hover
        background: #ff0044


// Responsividad
.row::after
    content: ""
    clear: both
    display: table

.col
    float: left

$ancho-col: 8.33%
@for $i from 1 through 12
    .l#{$i}
        width: $ancho-col * $i

@media only screen and (max-width: 500px)
    @for $i from 1 through 12
        .s#{$i}
            width: $ancho-col * $i


// Muestra mensajes de error.
.err
    background-color: #e53935
    color: white
    padding: 20px
    border-radius: 5px

    .tech
        font-size: small
        opacity: 0.6

.separador
    height: 70px
    width: 100%

/* Responsividad */

@media only screen and (max-width: 500px)
    .ocultarBajo500
        display: none !important

@media only screen and (max-width: 700px)
    .ocultarBajo630
        display: none !important

    .completo-bajo630
        width: 100% !important


@media only screen and (max-width: 600px)
    .ocultarBajo600
        display: none !important


@media only screen and (max-width: 450px)
    .ocultarBajo450
        display: none

@media only screen and (max-width: 400px)
    .ocultarBajo400
        display: none

@media only screen and (min-width: 500px)
    .mostrarBajo500
        display: none !important

@font-face
    font-family: icomoon
    src: url("../assets/fonts/icomoon.ttf")

.icon-check-box
    font-family: icomoon !important
    padding-left: 10px
    &:before
        content: "\e918"

[data-bgcolor=facebook]
    background: var(--fb-color)

[data-bgcolor=twitter]
    background: var(--tw-color)

[data-bgcolor=whatsapp]
    background: var(--wsp-color)



[class*=" icon-"], [class^=icon-]
    font-family: 'icomoon'!important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-facebook:before
    content: "\ea90"

.icon-twitter:before
    content: "\ea96"

.icon-whatsapp:before
    content: "\ea93"


.video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: opacity 250ms ease-in-out

@font-face
    font-family: "Product Sans"
    src: url("../../public/fonts/ProductSans/ProductSansRegular.ttf")

@font-face
    font-family: "Product Sans"
    font-weight: bold
    src: url("../../public/fonts/ProductSans/ProductSansBold.ttf")

@font-face
    font-family: "Product Sans"
    font-style: italic
    src: url("../../public/fonts/ProductSans/ProductSansItalic.ttf")

@font-face
    font-family: "Product Sans"
    font-weight: bold
    font-style: italic
    src: url("../../public/fonts/ProductSans/ProductSansBoldItalic.ttf")
