$titulos: "Open Sans", Roboto, sans-serif
$texto: Roboto, sans-serif

$colorPrincipal: #E91E63

%imgFlotantes
    opacity: var(--opacidad1)
    transition: opacity 250ms, transform 400ms
    &:hover
        opacity: var(--opacidad2)
        transform: translateY(-8px)

%textosGris
    color: var(--texto2)
    font:
        family: $titulos
        size: 14px

%caja-textos
    padding: 1.7rem
    border-radius: 10px
    box-shadow: 0 0 30px 0 var(--sombra1)