$titulos: "Open Sans", Roboto, sans-serif
$texto: Roboto, sans-serif

$colorPrincipal: rgb(233, 30, 99)

%imgFlotantes
    opacity: var(--opacidad1)
    transition: opacity 250ms, transform 400ms
    &:hover
        opacity: var(--opacidad2)
        transform: translateY(-8px)

%textosGris
    color: var(--texto2)
    font:
        family: $titulos
        size: 0.75rem

%caja-textos
    background-color: var(--fondo2)
    padding: 1.7rem
    border-radius: 10px
    box-shadow: 0 0 30px 0 var(--sombra1)