*
    box-sizing: border-box
    margin: 0
    padding: 0
    &:root
        --colorFondo: #141e23
        --colorPrin: #CFD8DC
        --tamanoFuenteUno: 20px
        --tamanoFuenteDos: 30px

html, body
    background-color: var(--colorFondo)
    color: var(--colorPrin)
    font:
        size: var(--tamanoFuenteUno)
        family: "Open Sans", Roboto, sans-serif

.boton
    padding: 10px
    border-radius: 5px
    font-size: large
    margin: 10px
    background-color: green
    color: white
    border: none
    cursor: pointer
    transition: background-color 250ms

.boton--activo
    background-color: orangered

.boton--error
    background-color: darkred

section
    margin-left: 25px
    padding: 25px
    h2:first-child
        margin-left: -25px
